html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #040714;
  color: #f9f9f9;

  font-family: Avenir-Roman,sans-serif;
}

a{
  text-decoration:none;
  color: #f9f9f9;
}

/* FOR MOBILE */
@media only screen and (min-width: 768px){

  body{
    font-size: 16px;
  }

}

@media only screen and (min-width:480px) and (max-width:768px){
  body{
    font-size:15px;
 
  }
}

@media only screen and (max-width:479px){
  body{
    font-size:14px;

  }
}

.img_1 {
    height: 100%;
    width: 90%;
    max-width: 800px;
    transition-timing-function: ease-out;
    transition: opacity 0.2s;
}

.img_2{
    height: 22%;
    width: 90%;
      max-width: 700px;;
    }